@import 'variables.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none;
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
a{
    text-decoration: none;
    color: black;
    &:hover{
        color: black;
        text-decoration: none;
    }
}

body{
    font-family: $font2;
    background-color: #2d2c2c;
}

p{
    font-size: 16px;
    color: #afafaf;
    margin: 25px 0;
}

h2{
    font-size: 90px;
    line-height: 100px;
    color: white;
    text-transform: uppercase;
    font-family: $font1;
    margin-bottom: 20px;
}

.header {
    background-image: $image-fondo;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    .navbar{
        ul li{
            position: relative;
            float: left;
            a{
                font-size: 18px;
                padding: 20px;
                color: white;
                display: block;
            }
            a:hover{
                color: rgb(138, 138, 138);
            }
        }
    }
    label{
        cursor: pointer;
        display: none;
    }
    a img{
        width: 200px;
    }
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.header-content{
    padding: 50px;
    margin-top: 100px;
}

.header-txt h1, span, h3{
    font-size: 110px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: $font1;
    color: white;
    margin-bottom: 15px;
}

.header-txt{
    text-align: center;
    margin-bottom: 45pxs;
    span{
        font-size: 25px;
    }
    p{
        color: #afafaf;
        padding: 0 250px;
        margin:25px 0;
    }
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: $font1;
    margin: 25px 0;
    border: 0;
    &:hover{
        background-color: rgb(181, 181, 181);
    }
}

.header-info{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    text-align: center;
    margin-left: 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

.info{
    h3{
        font-size: 22px;
    }
    p{
        font-size: 22px;
        color: white;
        text-transform: uppercase;
        margin:0;
    }
    a{
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        margin:0;
    }
}

.tel:hover{
    text-decoration: underline;
}

.welcome{
    display: flex;
}

.welcome-1{
    background-image: url(../tinified/dibu-martinez.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.welcome-2{
    width: 50%;
    padding: 150px 250px 150px 100px;
    background-color: #191919;
}

.marcas{
    padding-top:50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.brand-group{
    display: flex;
}

.titulo-marcas h2{
    font-size: 70px;
}

.brand{
    margin: 0px 20px 20px 20px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background: var(--i);
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.8);
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: .5s;
    a{
        font-size: 40px;
        font-family: $font1;
        color: rgba(255, 255, 255, .8)
    }
    &:hover{
        color: rgba(255, 255, 255, .8);
        text-decoration:underline;
    }
}

.brand:hover .content{
    border-radius: 10px;
    opacity: 1;
}

.brands .btn-1{
    margin-top: 50px;
    background-color: black;
    color: white;
    &:hover{
        color: white;
        background-color: rgb(87, 87, 87);
    }
}

.catalog{
    background-color: #191919;
}

.titulo-catalogo{
    padding-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3{
        font-family: $font1;
        letter-spacing: 1px;
        color: white;
        font-size: 50px;
    }
    a{
        font-size: 25px;
        color: white;
        text-decoration: underline;
    }
    &:hover{
        color: rgba(203, 203, 203, 0.8);
    }
}

.catalogo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 18rem;
    margin-bottom: 100px;
}

.direc{
    background-color: #2d2c2c;
    display: flex;
    align-items: flex-start;
    padding-top: 150px;
    padding-bottom: 150px;
}

.content-direc{
    width: 50%;
    padding: 0px 100px 0px 250px;
}

.content-direc2{
    width: 50%;
}

.footer{
    background-color: #191919;
}

.pie{
    padding: 100px 100px 200px 100px;
}

.col{
    h2{
        line-height: 50px;
        font-size: 50px;
        margin-bottom: 0;
    }
    h3{
        font-size: 35px;
    }
}

.link  {
    font-family: $font2;
    font-size: 16px;
    color: #afafaf;
    margin: 25px 0;
    &:hover{
        color: #afafaf;
        text-decoration: underline;
    }
}

.acceso{
    display: flex;
    a{
        margin: 0;
        padding-left: 5px;
    }
    p{
        margin: 0;
    }
}

.contacto{
    margin: 25px 0;
}

.iconos{
    color: #afafaf;
    &:hover{
        color: #525252;
    }
}

.redes{
    height: 70px;
    width: 150px;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}

.col-redes{
    display: flex;
    justify-content: center;
}

.header-nos{
    padding: 100px 0;
    padding-bottom: 200px;
}

.titulo{
    background-color: #2d2c2c;
    padding-top: 100px;
    padding-bottom: 150px;
    h2{
        font-size: 100px;
        text-align: center;
    }
}

.tarjeta{
    background-color: #2d2c2c;
    display: flex;
    align-items: flex-start;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-top: 0;
}

.t1{
    padding-top: 0;
}

.t2 {
    background-color: #1F1F1F;
}

.content-tarjeta{
    width: 50%;
    padding: 0px 100px 0px 250px;
}

.content-tarjeta-img1{
    width: 50%;
}

.content-tarjeta-img2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.content-tarjeta-1{
    width: 50%;
    padding: 0px 250px 0px 100px;
}

.imagen{
    width: 600px;
    height: 500px;
    background-image: url(../tinified/dibu-martinez.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 1500px){
    .imagen{
        width: 500px;
        height: 400px;
    }
    .content-tarjeta{
        padding: 0px 100px 0px 150px;
        h2{
           font-size: 75px;
           margin-bottom: 10px;
        }
        p{
            margin: 20px 0;
            font-size: 15px;
        }
    }
    .titulo{
        padding-top: 80px;
        padding-bottom: 100px;
        h2{
            font-size: 80px;
        }
    }
    .content-tarjeta-1{
        padding-right: 150px;
        h2{
            font-size: 75px;
            margin-bottom: 10px;
        }
        p{
            margin: 20px 0;
            font-size: 15px;
        }
    }
}
@media only screen and (max-width: 1400px){
    .direc{
        flex-direction: column;
        align-items: center;
        padding:0;
        padding-bottom: 80px;
    }
    .content-direc{
        text-align: center;
        padding: 40px;
    }
    .content-direc2{
        display: flex;
        justify-content: center;
        padding: 0;
        iframe{
            width: 500px;
        }
    }
    .redes{
        padding: 0;
    }
}
@media only screen and (max-width: 1200px){
    .titulo{
        padding-bottom: 0;
        h2{
            font-size: 80px;
        }
    }
    .tarjeta{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:0;
        padding-bottom: 80px;
    }
    .content-tarjeta{
        text-align: center;
        padding: 40px;
    }
    .content-tarjeta-1{
        text-align: center;
        padding: 40px;
    }
    .t2{
        flex-direction: column-reverse;
    }
    .redes{
        padding-top:100px;
    }
    .content-tarjeta-img1{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .content-tarjeta-img2{
        width: 50%;
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width:991px){
    .menu{
        padding: 20px;
        label{
            display: initial;
        }
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1F1F1F;
        display: none;
        ul li {
            width: 100%;
        }
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .header {
        min-height: 0vh;
    }
    .header-content {
        padding: 80px 30px 50px 30px;
    }
    .header-txt {
        margin-bottom: 15px;
        h1 {
            font-size: 90px;
        }
        p{
            padding: 0;
            margin: 15px 0;
        }
    }
    .header-info{
        flex-direction: column;
    }
    .info{
        margin-bottom: 50px;
        p{
            font-size: 18px
        }
    }
    .welcome{
        flex-direction: column;
    }
    .welcome-1{
        display: none;
    }
    .welcome-2{
        width: 100%;
        padding:  100px 30px;
        text-align: center;
    }
    h2{
        font-size: 70px;
    }
    .brand-group{
        flex-direction: column;
    }
    .brand{
        margin:25px 0;
    }
    .content{
        border-radius: 10px;
        opacity: 1;
    }
    .titulo-catalogo{
        padding-top:70px;
        flex-direction: column;
        h3{
            font-size: 70px;
        }
        a{
            font-size: 20px;
        }
    }
    .card{
        width: 10rem;
        margin-bottom: 16px;
    }
    .card-title{
        font-size: 12px;
        padding-bottom: 0;
    }
    .card-text{
        margin: 5px 0;
        font-size: 10px;
    }
    .btn{
        margin: 0;
        width: 130px;
        font-size: 9px;
        padding: 5px 0;
    }
    .catalogo{
        padding: 0 15px;
        padding-bottom: 60px;
    }
    .direc{
        flex-direction: column;
        padding:0;
        padding-bottom: 80px;
    }
    .content-direc{
        width: 100%;
        text-align: center;
        padding: 40px;
    }
    .content-direc2{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
        iframe{
            width: 500px;
        }
    }
    .content-tarjeta{
        width: 100%;
        text-align: center;
        padding: 40px;
        h2{
            font-size: 60px;
        }
    }
    .content-tarjeta-1{
        width: 100%;
        text-align: center;
        padding: 40px;
        h2{
            font-size: 60px;
        }
    }
    .content-tarjeta-img1{
        width: 100%;
        padding: 0;
    }
    .content-tarjeta-img2{
        width: 100%;
        padding: 0;
    }
    .pie{
        padding: 50px;
        padding-left: 100px;
    }
    .col{
        padding: 15px;
    }
    .col-redes{
        justify-content: flex-start;
    }
    .redes{
        justify-content: space-between;
        padding: 0;
    }
    .header{
        padding-bottom: 100px;
    }
    .titulo h2{
        font-size: 70px;
    }
}
@media only screen and (max-width: 600px){
    .content-direc2 iframe{
        width: 350px;
    }
    .pie{
        padding-left: 50px;
    }
    .redes{
        padding: 0;
    }
    .content-tarjeta-img1{
        width: 80%;
        height: 80%;
    }
    .content-tarjeta-img2{
        width: 80%;
        height: 80%;
    }
}